<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip [routerLink]="['/category', 'shapes']">
    <ion-avatar>
      <img src="../assets/icon/interests_FILL0_wght400_GRAD0_opsz48.svg" />
    </ion-avatar>
    <ion-label>Shapes</ion-label>
  </ion-chip>
  <ion-chip [routerLink]="['/category', 'animals']">
    <ion-avatar>
      <img src="../assets/icon/interests_FILL0_wght400_GRAD0_opsz48.svg" />
    </ion-avatar>
    <ion-label>Animals</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'home']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Home</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'transport']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Transport</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'weather']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Weather</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'sport']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Sport</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'christmas']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Christams</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'halloween']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Halloween</ion-label>
  </ion-chip>

  <ion-chip [routerLink]="['/category', 'stractures']">
    <ion-avatar>
      <img src="../assets/icon/Roundicons-100-Free-Solid-Home.svg" />
    </ion-avatar>
    <ion-label>Stractures</ion-label>
  </ion-chip>
</ion-content>
